body.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}

header.dark-mode {
    background-color: #005000;
}

#menu-dropdown.dark-mode {
    background: #333;
    color: white;
    border: 1px solid #555;
}

#menu-dropdown.dark-mode ul li {
    color: white;
}

#menu-dropdown.dark-mode ul li a {
    color: white;
}

#about-content.dark-mode {
    padding: 10px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

/* Smooth Transition */
.card {
    will-change: background-color, color, box-shadow;
    transition: background-color 0.4s ease, color 0.4s ease;
}


.card.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #444;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}


.card.dark-mode {
    background: #2c2c2c;
    color: white;
    border: 1px solid #444;
}

footer.dark-mode {
    background-color: #005000;
    min-height: 50px;
}

#navigation button.dark-mode {
    background-color: #007500;
}

#navigation button.dark-mode:hover {
    background-color: #005000;
}

body.dark-mode ul.share-buttons li a {
    color: white; /* White text in dark mode */
}